/* The blog list (/blog) */
.blogListLinkItem {
    text-decoration: none;
    color: black;
}

.blogListItem {
    min-height: 5em;
    background-color: rgb(190, 190, 190);
    margin-bottom: 1em;
    text-align: left;
    padding: 1em 1em 1em 5em;
    text-decoration: none;
}

.blogListItem:hover {
    border-style: solid;
    border-color: black;
    padding: 0.80em 0.80em 0.80em 4.80em;
}

.blogListItemTitle {
    font-size: 2em;
}

.blogListItemAuthor {
    color: blue;
    display: inline;
}

.blogListItemDate {
    display: inline;
}

.blogListItemTags {
    font-size: 0.85em;
}

.blogListItemContentReadMore {
    color: green;
}

/* Blog post content sections list */

section {
    margin-top: 2em;
}

.blogSectionsLeft a:hover {
    font-style: italic;
}

.blogSectionTitle {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.blogSubSectionTitle {
    margin-top: 1em;
    font-weight: bold;
}

.blogSubSubSectionTitle {
    margin-top: 1em;
    font-weight: bold;
}

.blogPostTitle {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.blogPostAuthor, .blogPostDate, .blogPostTags, .blogPostEdit, .blogPostVisible {
	text-align: right;
}

.blogPostAddLeft {
    display: inline-block;
    width: 50%;
}

.blogPostAddRight {
    display: inline-block;
    width: 50%;
}

.blogTextArea {
    width: 100%;
    height: 85vh;
}

.blogTags, .blogTitle, .blogTextArea {
    background-color: #13304d;
    color: rgba(211, 207, 21, 0.972);
}

.blogPostVisibleTrue {
    color: green;
}

.blogPostVisibleFalse {
    color: red;
}

.blogToggleVisibility {
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
    color: #069;
    text-decoration: underline;
}

.menuContent ul{
    margin: 0;
}