body {
    width: 100%;
    margin: 0 auto;
    background: white;
    color: black;
    display: flex;
}

.content {
    width: 60em;
    position: absolute;
    left: 20em;
    margin-top: 3em;
    padding-left: 3em;
}
